@model IEnumerable<CanNetwork.Models.University>
@using CanNetwork.Models
@using GridMvc.Html
@using CanNetwork.Context

@{
    MyDbContext db = new MyDbContext();
    ViewBag.Title = "University | Index";
}


<h2 class="text-primary mb-3">Manage University [@Model.Count()]</h2>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal" style="display: block;margin:10px 0px 20px">Create New University</button>

@if (Model.Count() == 0)
{
    <hr />
    <div class="alert alert-danger">No Universities Added Yet!</div>
}
else
{

    @helper CustomRenderingOfColumn(University university)
    {
        MyDbContext db = new MyDbContext();
        var totalUsers = db.SeekerRegistrations.Where(s => s.University.UniversityName == university.UniversityName).Count();
        if (totalUsers == 0)
        {
            <button class="btn btn-info editBtn mr-1" data-id="@university.Id" data-toggle="modal" data-target="#editModal">Edit</button>
            <button class="btn btn-danger deleteBtn" data-id="@university.Id">Delete</button>
        }
        else
        {
            <button class="btn btn-info editBtn" data-id="@university.Id" data-toggle="modal" data-target="#editModal">Edit</button>
        }
    }

    <div style="width: 100%">
        @Html.Grid(Model).Columns(columns =>
        {
            columns.Add(o => o.UniversityName)
            .Titled("University Name")
            .Filterable(true)
            .Sortable(true);

            columns.Add()
            .Titled("Total Users")
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(o => @<b>[@db.SeekerRegistrations.Where(s => s.University.UniversityName == o.UniversityName).Count()]</b>)
            .Filterable(false);

            columns.Add()
            .Titled("Actions")
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(o => CustomRenderingOfColumn(o))
            .Sortable(true);

        }).WithPaging(4).Sortable(true)
    </div>

    <hr />
}

<p>
    @Html.ActionLink("Back", "Index", "AdminViewModel", null, new { @class = "btn btn-dark" })
</p>

<!-- Create Modal -->
<div class="modal fade createModel" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-success" id="exampleModalLabel" style="display: inline-block">Creatr New University</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 40px;color: #ff0000">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="errDiv" class="alert alert-danger" style="display: none">Please Fill All Input To Create New University!</div>
                <form id="createForm">
                    <div class="form-group">
                        <label for="UniversityName" class="form-control-label">University Name:</label>
                        <input type="text" class="form-control" id="UniversityName" name="UniversityName">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="createBtn">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade editModal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-primary" id="exampleModalLabel" style="display: inline-block">Edit University</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 40px;color: #ff0000">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="edit-content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="editBtn">Edit</button>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@section scripts{
    <script>
        $(() => {
            // Create University
            $("#createBtn").click(() => {
                if ($("#UniversityName").val() == "") {
                    $("#errDiv").fadeIn(1000);
                    $("#errDiv").fadeOut(8000);
                } else {
                    myData = $("#createForm").serialize();
                    $.ajax({
                        type: "POST",
                        url: "/University/Create",
                        data: myData,
                        success: (res) => {
                            if (res.result == 1) {
                                swal({
                                    title: "Create University!",
                                    text: "You Create the University Successfully!",
                                    icon: "success",
                                    button: null,
                                });
                                setTimeout(() => {
                                    location.reload();
                                }, 3000)
                            }
                        }
                    });
                }
            });

            // Delete City
            deleteBtns = $(".deleteBtn");
            [...deleteBtns].forEach(btn => {
                $(btn).on("click", () => {
                    id = $(btn).data("id");
                    $.ajax({
                        type: "GET",
                        url: "/University/Delete/" + id,
                        success: (res) => {
                            if (res.result == 1) {
                                swal({
                                    title: "Delete University!",
                                    text: "You Deleted the University Successfully!",
                                    icon: "error",
                                    button: null,
                                });
                                setTimeout(() => {
                                    location.reload();
                                }, 3000)
                            }
                        }
                    });
                });
            });

            // Edit City [GET/POST]
            //GET
            editBtns = $(".editBtn");
            [...editBtns].forEach(btn => {
                $(btn).on("click", () => {
                    id = $(btn).data("id");
                    $.ajax({
                        type: "GET",
                        url: "/University/Edit/" + id,
                    }).done(function (data) {
                        var values = `
                                                    <form id="editForm">
                                                        <input type="hidden" id="universityId" value="${data.Id}" />
                                                        <div class="form-group">
                                                            <label for="universityName" class="form-control-label">University Name:</label>
                                                            <input type="text" class="form-control" id="universityName" name="universityName" value="${data.UniversityName}">
                                                        </div>
                                                    </form>
                                                    `
                        $(".editModal #edit-content").empty();
                        $(".editModal #edit-content").append(values);
                    });
                });
            });
            //POST
            $("#editBtn").click(() => {
                universityName = $("#universityName").val(),
                    universityId = $("#universityId").val(),
                    editFormData = { Id: universityId, UniversityName: universityName };
                $.ajax({
                    type: "POST",
                    url: "/University/Edit",
                    data: editFormData,
                    success: (res) => {
                        if (res.result == 1) {
                            swal({
                                title: "Edit University",
                                text: "Edit University Successfully!",
                                icon: "success",
                                button: null
                            });
                            setTimeout(() => {
                                location.reload();
                            }, 3000)
                        }
                    }
                });
            });
        });
    </script>
}